* {
  box-sizing: border-box;
}
body {
  background-color: #f3f2ea;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: column;
}
h1 {
  text-align: center;
}
fieldset {
  min-width: 340px;
  max-width: 550px;
  margin: 1px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  background-color: #f0a6ca;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
label {
  display: flex;
  width: 100%;
  margin: 1px auto;
  justify-content: center;
}

span {
  font-size: 1.09rem;
  display: inline-block;
  width: 30%;
}

input {
  padding: 5px;
  border-radius: 5px;
  color: #2f3e46;
  font-size: 1rem;
}

.container {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

label {
  display: block;
}

.card {
  background-color: #a2d2ff;
  padding: 2rem;
  border-radius: 10px;
  min-width: 250px;
}
.card p {
  font-size: 1.25rem;
}

button {
  padding: 0.5rem;
  color: #023047;
  background-color: #e9c46a;
  border-radius: 5px;
  font-size: 1rem;
}

button:hover {
  color: #e9c46a;
  background-color: #023047;
}

.newBook {
  margin: 20px auto;
  background-color: #d4a373;
}
